
.form_calculate .h3_forms{
    max-width: 500px;
    float:left;
    font-size: 17px;
}
.form_calculate .clear{
    clear: both;
}
.form_calculate .checkbox-inline{
    position: relative;
    top: 25px;
    display: block;
    float: right;
    min-width: auto;
    z-index: 1;
}
.form_calculate .checkbox-inline input[type="checkbox"]{
    float: right;
    margin-top: 4px;
    margin-right: 5px;
    margin-left: 6px;
}
.form_calculate .none{
    display: none;
}
.form_calculate_full .settings_adv {
    max-width: 450px;
}
.form_calculate_full .servises p{
    position: relative;
}
.servises,.service_wrapper {
    max-width: 300px;
    margin-top: 20px;
}
.form_calculate_full .servises .name{
    display: block;
    margin-right: 30px;
    
}

.servises .res{
    position: absolute;
    display: block;
    top:0;
    right: 0;
    bottom: 0;
    color: green;
    margin: auto;
}

.servises .res.glyphicon-remove{
    color: red;
}

.settings_adv .wrap{
    position: relative;
}
.settings_adv .wrap #sign{
    position: absolute;
    right: 0;
}
.form_calculate_full .collapse_desc{
    position: relative;
    display: block;
}

.form_calculate_full .collapse_desc .total{
    position: absolute;
    top: 0;
    margin-top: -10px;
    right: 0px;
    font-weight: bold;
    
}
.panel-default>.panel-heading+.panel-collapse>.panel-body.content{
    border: 0;
}
.form_calculate_full .wrap_for_info{
    border-top: 1px solid #ddd;
    margin: -20px 0;
    padding: 15px 0;
    margin-top: 15px;
}

.panel-body.h1_head{
    padding-bottom: 0;
}
.panel-body.content{
    padding-top: 0; 
}
.form_calculate_full .result_but p{
    font-size: 17px;
}
.form_calculate_full .result_but{
    float: right;
}
.form_calculate_full .result_button{
    text-align: center;
    clear: both;
}
.form_calculate_full .main_choose{
    display: none;
}
.form_calculate .col-xs-6{
    padding-bottom: 100px;
}
.serveds_y,.serveds_g{
    display: none;
    font-weight: bold;
}
.collapse_desc_yandex span,.collapse_desc_google span{
    font-size: 12px;
} 
.collapse_desc_yandex .title,.collapse_desc_google .title{
    display: block;
    font-weight: bold;
    
    
} 
.collapse_desc_yandex .title_m,.collapse_desc_google .title_m{
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
    text-shadow: 1px 1px 1px #b3b3b3;
}
.collapse_desc_yandex,.collapse_desc_google{
    text-decoration: none !important;
}
.form_calculate_full .h5_title{
    margin: 0;
}
.form_calculate_full .wrap_for_info{
    border: 0;
    margin: 0;
    
}
.form_calculate_full .wrap_for_info .h5_title{
    margin: 0 0 15px 0;
    font-size: 14px;
}
.form_calculate_full .h5_title{
    font-weight: bold;
}
.form_calculate_full .wrap_for_info  .res {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    color: green;
    margin: auto;
}
.form_calculate_full .wrap_for_info p{
    position: relative;
}
.form_calculate_full .wrap_for_info .res.glyphicon-remove{
   color: red; 
}
.form_calculate_full .service .dropdown .btn{
 display:block;
}
.form_calculate_full .service .dropdown{
  margin-bottom: 4px;
    display: block;
    width: 120px;
}
.classic .btn,.express .btn{
    margin-right: 10px;
}
.serv_main_span span{
    display: none;
}

.servises_elem_serv .res{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    color: green;
    margin: auto;
}
.servises_elem_serv p{
    position: relative;
}
.servises_elem_serv .res.glyphicon-remove{
    color: red;
}
.form_direct .form-group{
    display: none;
}
.form_calculate_full .panel-group {
    margin-bottom: 20px;
    box-sizing: border-box;
}


.form_calculate_full .panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.form_calculate_full .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.form_calculate_full .panel-default {
    border-color: #ddd;
}


.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: inherit;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}


.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
}

.panel-body.h1_head {
    padding-bottom: 0;
}

.panel-body {
    padding: 15px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body.content {
    border: 0;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
}

.panel-body.content {
    padding-top: 0;
}

.form_calculate_full .panel-body {
    padding: 15px;
}
.form_calculate_full{
    margin: 0 auto; 
}
.form_calculate_full .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.pack_dropdown li{
    list-style: none;
}
.pack_dropdown li a{
    text-decoration: none;
}
.settings_adv{
    overflow: hidden;
}
.form_calculate_full .form-control{
    width: 100%;
}
.servise_main_span,.serv_main_span{
    line-height: 16px;
}
.form_calculate_full .title_m{
    line-height: 19px;
    
}
.panel-body.h1_head{
    padding: 0;
}
.panel-body.content{
    padding: 0 15px;
}
.form_calculate_full .serveds_y{
    line-height: 16px;
}
.y-g .g,.y-g .y{
    margin-right: 3px;
    float: left;
    margin-top: 3px;
}
.wrap_for_info {
    line-height: 5px;
}
.panel-body.content .wrap_for_info{
    margin: 20px 0;
}
/*.panel-body.content .wrap_for_info:last-child{
    padding: 15px 0;
}*/
.form_calculate_full .servises_elem p{
    padding: 0;
}
.radio_direct{
    float: left;
    margin-top: 3px;
    margin-right: 3px;
}
.form_calculate_full .fa-times.res{
    color: red;
}
.radio_wrap{
    padding-left: 1px;
}

.form_calculate_full .express h3,.form_calculate_full .classic h3{
    font-size: 14px;
    margin: 0;
    clear: both;
    text-align: center;
}
.form_calculate_full {
    margin: 0 auto;
    width: 839;
    overflow: hidden;
}
.main_choose{
    overflow: hidden;
}
.form_calculate_full .main_choose{
    display: block;
}
.pack_dropdown .btn{
    float: left;
    min-width: 15px;
    width: 71px;
    margin-right: 6px;
    padding: 5px 8px;
}

[data-toggle=buttons] .btn input[type=checkbox], [data-toggle=buttons] .btn input[type=radio], [data-toggle=buttons] .btn-group .btn input[type=checkbox], [data-toggle=buttons] .btn-group .btn input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.pack_dropdown .btn-group{
    overflow: hidden;
    padding: 4px;
}
.btn-group .btn-group-s{
    padding: 0;
}
.btn-group .btn-group-s .btn_col{
    padding: 0;
}
.btn_col{
    position: relative;
}
.btn_col p{
    clear: both;
    padding: 0;
    text-align: center;
}
.form_calculate_full .btn-warning.active,.form_calculate_full .btn-info.active,.form_calculate_full .btn-primary.active,.form_calculate_full .btn-danger.active{
    color: #ffffff;
    border: 1px solid #000;
    background: linear-gradient(to bottom, black, #d0d0d0);
}
.servises{
    clear: both;
}
.y-g .checkbox:first-child{
    float: left;
    margin-right: 10px;
}
.y-g .checkbox label{
    font-size: 22px;
    cursor: pointer;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #d8d8d8 !important;
    border: 1px solid #848484 !important;
    color: #000 !important;
}   
.block_div-disable{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: not-allowed;
}
.btn-group_but_tarifs .disabled + .price_tarif{
    display: none;
}
.form_calculate .h3_forms{
    margin: 0;
    margin-top: 20px;
}
.form_calculate_full .fa-check:not(.fa-check-mounth),.form_calculate_full .fa-times:not(.fa-check-mounth){
    top: 4px;
    font-weight: bold;
    
}
.form_calculate_full .name_label{
    padding: 11px 0 0;
    display: block;
    font-weight: bold;
   
}
.fa-check-mounth::before{
    display: none;
}
.fa-check-mounth{
    font: 13px/20px Arial,Geneva,Helvetica,sans-serif;
    font-weight: bold;
}
.form_calculate_full .wrap_for_info p {
    position: relative;
    line-height: 20px;
    padding: 0;
}
.form_calculate_full{
    background: #E8F5E9;
}


.form_calculate_full  .btn{
    background: #C8E6C9;
    color: #000;
    border: 0;
}
.form_calculate_full  .btn:active{
    background: #C8E6C9;
    color: #000;
    border: 0;
}
.form_calculate_full  .btn:focus{
    outline:0;
}
.form_calculate_full  .btn.select_btn{
    background: #FFAB91;
    color: #000;
}

.name_tariff{
    position: absolute;
    
}
.form_calculate_full  .checkbox-inline input{
    display: none;
}
.form_calculate_full  .checkbox-inline i{
    font-size: 22px;
    color: #88ad89;
    cursor: pointer;
}
.form_calculate_full  .checkbox-inline .btn.active_checkbox{
    background: #FFAB91;
    color: #000;
}
.form_calculate_full  .checkbox-inline .btn.active_checkbox i{
    color: #000;
}


.form_calculate_full  .checkbox-inline .btn{
    cursor: pointer;
}
.form_calculate_full  .checkbox-inline{
    cursor: pointer;
    top: 14px;
}

.form_calculate_full .btn-warning.active, .form_calculate_full .btn-info.active, .form_calculate_full .btn-primary.active, .form_calculate_full .btn-danger.active {
    color: #000;
    border: 0;
    background: #FFAB91;
}
.form_calculate_full .btn-warning.focus, .form_calculate_full .btn-info.focus, .form_calculate_full .btn-primary.focus, .form_calculate_full .btn-danger.focus {
    outline:0;
}
.form_calculate_h3{
    border: 1px solid;
    margin: 0;
    padding: 6px;
    text-align: center;
}
.form_calculate_full .y-g{
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 3px 7px 13px 13px;
    position: relative;
}
/*.y-g::after{
    content:"";
    position: absolute;
    width: 1px;
    background: #000;
    left: 48%;
    height: 100%;
    top: 0;
}*/

.y-g .checkbox:first-child {
    margin-right: 15px;
}
.main_choose{
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
}

.form_calculate_col{
    padding-top: 15px;
    box-sizing: border-box;
}

.form_calculate .h3_forms {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
}


.form_calculate_h3,.form_calculate_full .y-g,.main_choose{
    border-color: #bbbaba;
}

.switcher_but .btn{
    width: 178px;
}
.switcher_but .btn:last-child{
    float: right;
}
.switcher_but .btn.active_checkbox{
    background: #FFAB91;
    color: #000;
}
.h3_forms_choose{
    font-size: 14px;
    text-align: center;
    margin: 0; 
    clear: both;
}

.h3_forms{
    font-weight: bold;
}
.form_calculate_h3{
    border-bottom: 0;
}

.settings_adv .wrap #sign{
    position: relative;
    right: 0;
    display: block;
    height: 45px;
    margin-top: 5px;
    
    
}
.name_tariff{
    position: initial;
    display: block;
    margin-left: 52px;
    font: 13px/20px Arial,Geneva,Helvetica,sans-serif;
    font-weight: normal;
    font-style: normal;
    width:130px;
    top: 15px;
    position: relative;
}
.classic h3{
    clear: both;
    padding: 0;
}
#sign img{
    float: left;
}
.form_calculate_full  .checkbox-inline.checkbox-inline-sevice{
    top: 0px;
    width: 175px;
    
}
.pack_dropdown{
    margin-top: -3px;
}
.pack_dropdown .btn {
    float: left;
    min-width: 15px;
    width: 100%;
    margin-right: 1px;
    padding: 5px 8px;
    box-sizing: border-box;
}

.pack_dropdown .btn-group{
    overflow: hidden;
    padding: 4px;
    /* padding-top: 10px; */
    margin: 0px -6px;
}
.btn-group .btn-group-s .btn_col{
    padding: 0px 2px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
}
.form_calculate_h3 {
    border-bottom: 0;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.yours_order{
    text-align: center;
}
.form_calculate .h3_forms.h3_forms_service{
    padding-top: 13px;
}
.form_calculate  .tooltip.top{
    padding: 5px 0;
    margin-top: -3px;
}
.form_calculate  .tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}

.form_calculate  .fade.in {
    opacity: 1;
}
.form_calculate  .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
    
}
.form_calculate  .fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}
.form_calculate_full .name_label{
    font-family: sans-serif;
}
.checkbox-inline .busket_title{
padding-right: 7px;
    text-align: right;
}
.checkbox-inline.checkbox-inline-sevice .btn,.checkbox-inline.checkbox-inline-sevice .busket_title{
    float: right;
}
.checkbox-inline.checkbox-inline-sevice .busket_title{
   padding-top: 6px; 
}
.tariff_checkbox-inline-sevice{
    padding-top: 6px;
    float: left;
}
.form_calculate_full .servises_elem,.form_calculate_full .wrap_for_info{
    padding: 6px;
    border: 1px dashed;
}
.form_calculate_full .servises_elem p:not(.last_service),.form_calculate_full .wrap_for_info p:not(.last_service){
    padding: 0;
    border-bottom: 1px dashed;
}
.servises, .service_wrapper{
    max-width: initial;
}
.form_calculate_full .servises_elem p,.form_calculate_full .wrap_for_info p{
    cursor:default;
}

.form_calculate_full .servises_elem,.form_calculate_full .servises_elem p:not(:last-child),.form_calculate_full .wrap_for_info p:not(:last-child),.form_calculate_full .wrap_for_info{
    border-color: rgb(187, 186, 186);
}
.btn:active, .btn.active{
    webkit-box-shadow: initial;
    box-shadow: initial;
}
.background_zodiak{
    width: 100px;
    display: block;
    height: 45px;
}
.hidden_from_spam_lebel{
display:none !important;
}

@media(max-width:1440px){
    .switcher_but .btn:last-child{
        float: none;
        margin-top: 12px;
    }
    .switcher_but{
        text-align: center;
    }
    .form_calculate_full{
        width: 724px;
    }
    .pack_dropdown .btn{
        padding: 5px 5px;
        font-size: 12px;
    }
    .y-g .checkbox:first-child{
        margin-bottom: 10px;
    }
    .btn_col p{
        width: 53px;
        margin: 0 auto;
    }
    .name_tariff{
        width: 70px;
        top: 5px;
    }
    
}

@media(max-width:1200px){
    .btn_col p{
        width: auto;
    }
 .btn-group .btn-group-s-one .btn_col{
    margin-bottom: 0px;
}
   .btn-group .btn-group-s .btn_col.btn_col_mg{
    margin-bottom: 0;
}

}

@media(max-width:1023px){
    .form_calculate_full{
       width: 65.1%;
    }
    .classic .btn, .express .btn {
    margin-right: 1%;
    width: 23%;
    padding: 6px;
}
}
@media(max-width:992px){
    .form_calculate_full .settings_adv{
            max-width: initial;
    }
    .switcher_but .btn{
        width: 178px;
        display: inline-block;
        float: none;
        margin: 0 15px 10px;
    }
    .switcher_but .btn:last-child{
        float: none;
        margin-top: initial;
    }
    .name_tariff{
        width: 130px;
        top: 15px;
    }
     .btn-group_but_tarifs .btn-group-s .btn_col:first-child{
    margin-bottom: 0;
}
}
@media(max-width:767px){
     .form_calculate_full{
       width: 90%;
       margin: 0 5%;
    }
}
.form_direct{
    padding-bottom: 50px;
}
@media(max-width:445px){
    .checkbox-inline .busket_title{
        padding-right: 7px;
        text-align: right;
        width: 60px;
        display: inline-block;
        float: left;
        line-height: 16px;
    }
    .checkbox-inline.checkbox-inline-sevice .busket_title{
        padding-top: 0;
    }
    .name_tariff {
        width: 70px;
        top: 9px;
        line-height: 16px;
    }
    .form_calculate_full  .checkbox-inline.checkbox-inline-sevice{
        top: 0px;
        width: 120px;
    }
    .tariff_checkbox-inline-sevice span:first-child{
            display: block;
    }
    .tariff_checkbox-inline-sevice{
        padding-top: 0;
        float: left;
        width: 79px;
        line-height: 16px;
    }
 
}
.fix_for_side_bar{position:fixed !important;margin-bottom:20px;top:0;}
.fix_for_side_bar.fix_for_side_bar_abs{position:absolute !important;right:0px !important;left:auto  !important;top:auto  !important}
.footer{
    height: 500px;
    background: green;
}
.form_calculate{
    overflow: hidden;
}
